body {
    background-color: gray;
}

#loginpage {
    border: 1px solid #ccc;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    background-color: yellow;
    margin-top: 70px;
    margin-left: 300px;
}

#loginpage input {
    padding: 10px;
    padding-left: 100px;
    margin-top: 30px;
    font-size: medium;
}

#loginpage button {
    margin-top: 20px;
    padding: 5px;
    margin-left: 120px;
    font-size: 25px;
    background-color: lawngreen;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    #loginpage {
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
        display: inline-block;
        padding: 70px;
        background-color: yellow;
        margin-top: 20px;
        margin-left: 50px;
    }
}
    @media only screen and (max-width: 1000px) {
        #loginpage {
            border: 1px solid #ccc;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
            display: inline-block;
            padding: 20px;
            background-color: yellow;
            margin-top: 50px;
            margin-left: 50px;
        }}

        @media only screen and (max-width: 2000px) {
            #loginpage {
                border: 1px solid #ccc;
                box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
                display: inline-block;
                padding: 20px;
                background-color: yellow;
                margin-top: 50px;
                margin-left: 50px;
            }
        }
